/NetBeansProjects/MembershipORM/nbproject/private/
/NetBeansProjects/MembershipORM/build/
/NetBeansProjects/StudentManagement/nbproject/private/
/NetBeansProjects/StudentManagement/build/
/NetBeansProjects/jfc-mvc/nbproject/private/
/NetBeansProjects/jfc-mvc/build/
/NetBeansProjects/ExportPDF/nbproject/private/
/NetBeansProjects/jfc-mvc - Copy/build/
/NetBeansProjects/jfc-mvc - Copy/nbproject/private/
/NetBeansProjects/ExportPDF/build/
/NetBeansProjects/RestoranApp/nbproject/private/
/NetBeansProjects/RestoranApp/build/
/NetBeansProjects/jfc-konkurensi/nbproject/private/
/NetBeansProjects/jfc-konkurensi/build/
/NetBeansProjects/ jfc-httpclient/nbproject/private/
/NetBeansProjects/ jfc-httpclient/build/
/NetBeansProjects/jfc-httpclient/nbproject/private/
/NetBeansProjects/jfc-httpclient/build/
